In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('raw_data/transfermarkt50.csv')

In [3]:
df.shape

(50, 7)

In [4]:
(rows, columns) = df.shape

In [5]:
rows

50

In [6]:
columns

7

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rank      50 non-null     int64
 1   name      50 non-null     object
 2   position  50 non-null     object
 3   age       50 non-null     int64
 4   nation    50 non-null     object
 5   team      50 non-null     object
 6   value     50 non-null     object
dtypes: int64(2), object(5)
memory usage: 2.9+ KB

In [8]:
df.head()

,rank,name,position,age,nation,team,value
0,1,Kylian Mbappé,Centre-Forward,22,France,Paris Saint-Germain,€180.00m
1,2,Neymar,Left Winger,28,Brazil,Paris Saint-Germain,€128.00m
2,3,Sadio Mané,Left Winger,28,Senegal,Liverpool FC,€120.00m
3,4,Mohamed Salah,Right Winger,28,Egypt,Liverpool FC,€120.00m
4,5,Harry Kane,Centre-Forward,27,England,Tottenham Hotspur,€120.00m