In [1]:
# 리스트에서 배열 만들기
import numpy as np
a = np.array([1, 4, 2, 5, 3])
b = np.array([3.14, 4, 2, 3])
c = np.array([1, 2, 3, 4], dtype = float)
print(a, b, c)

[1 4 2 5 3] [3.14 4.   2.   3.  ] [1. 2. 3. 4.]

In [2]:
a

array([1, 4, 2, 5, 3])

In [3]:
# 함수를 이용하여 배열 만들기
a = np.zeros(10, dtype = int) # 0으로 채운 배열 생성
b = np.ones((3, 5), dtype = float) # 1로 채운 배열 생성
c = np.full((3, 5), 3.14) # 3.14로 채운 배열
d = np.arange(0, 20, 2) # 0에서 시작해 2씩 더해 20까지 채우는 배열 생성
e = np.linspace(0, 1, 5) # 0과 1사이에 일정한 간격을 가진 다섯 개의 값으로 채운다
f = np.random.random((3, 3)) # 3 * 3 크기의 난수 배열 생성
g = np.random.normal(0, 1, (3, 3)) # 평균 0, 표준편차 1의 정규분포를 따르는 3 * 3 배열 생성
h = np.random.randint(0, 10, (3, 3)) # [0, 10) 구간의 임의의 정수를 채우는 배열
i = np.eye(3) # 크기 3의 단위 행렬 만들기

print('np.zeros(10, dtype=int):\n', a)
print('\nnp.ones((3, 5), dtype=float):\n', b)
print('\nnp.full((3, 5), 3.14):\n', c)
print('\nnp.arange(0, 20, 2):\n', d)
print('\nnp.linspace((3, 3)):\n', e)
print('\nnp.random.random(0, 1, (3, 3)):\n', f)
print('\nnp.random.normal(0, 1, (3, 3)):\n', g)
print('\nnp.random.randint(0, 10, (3, 3)):\n', h)
print('\nnp.eye(3):\n', i)

np.zeros(10, dtype=int):
 [0 0 0 0 0 0 0 0 0 0]

np.ones((3, 5), dtype=float):
 [[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

np.full((3, 5), 3.14):
 [[3.14 3.14 3.14 3.14 3.14]
 [3.14 3.14 3.14 3.14 3.14]
 [3.14 3.14 3.14 3.14 3.14]]

np.arange(0, 20, 2):
 [ 0  2  4  6  8 10 12 14 16 18]

np.linspace((3, 3)):
 [0.   0.25 0.5  0.75 1.  ]

np.random.random(0, 1, (3, 3)):
 [[0.17889431 0.49590546 0.5050805 ]
 [0.4303682  0.645025   0.97871053]
 [0.18921315 0.31096015 0.03985691]]

np.random.normal(0, 1, (3, 3)):
 [[-0.19532182 -0.18992749  1.11856041]
 [-0.49732503 -0.87955719 -0.63454973]
 [ 0.0641542   0.51489515  0.76217487]]

np.random.randint(0, 10, (3, 3)):
 [[2 2 4]
 [4 9 3]
 [6 1 7]]

np.eye(3):
 [[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [4]:
import pandas as pd

In [5]:
# 모든 행과 열을 다 보여주기 - None 자리에 숫자가 들어가면 출력되는 행 또는 열 개수 설정
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [6]:
df = pd.DataFrame(np.random.random(size=(500, 5)), columns = ['X1', 'X2', 'X3', 'X4', 'X5'])

In [8]:
df.head()

         X1        X2        X3        X4        X5
0  0.201889  0.969626  0.734690  0.125031  0.978222
1  0.985833  0.250889  0.283076  0.559003  0.848147
2  0.614772  0.855216  0.455405  0.615737  0.811105
3  0.865477  0.756193  0.040697  0.924613  0.867422
4  0.558767  0.348223  0.517683  0.835683  0.661412

In [9]:
df.columns

Index(['X1', 'X2', 'X3', 'X4', 'X5'], dtype='object')

In [10]:
df.dtypes

X1    float64
X2    float64
X3    float64
X4    float64
X5    float64
dtype: object