In [1]:
import os
import pandas as pd

In [2]:
df = pd.read_excel(r'C:/Users/Jinyoung/Pictures/python_analysis/fc_preprocessing/rawdata/part1/data_reading.xlsx')

In [3]:
df

   첫번째 시트  값없음
0  첫번째 시트  값없음

In [4]:
df = pd.read_excel(r'C:/Users/Jinyoung/Pictures/python_analysis/fc_preprocessing/rawdata/part1/data_reading.xlsx', sheet_name='target_sheet')

In [5]:
df

         Col1      Col2      Col3      Col4      Col5
0    0.188888  0.161053  0.150413  0.824770  0.111833
1    0.827719  0.161363  0.400331  0.398196  0.770696
2    0.844660  0.100998  0.995176  0.615525  0.878389
3    0.913895  0.036169  0.237840  0.187628  0.534308
4    0.322443  0.955010  0.340765  0.649311  0.354540
..        ...       ...       ...       ...       ...
995  0.868028  0.552366  0.211441  0.440146  0.240862
996  0.004869  0.815758  0.881353  0.904683  0.704121
997  0.990945  0.399277  0.909434  0.470590  0.379791
998  0.822819  0.964414  0.438145  0.896867  0.774079
999  0.177883  0.567393  0.811115  0.339432  0.121598

[1000 rows x 5 columns]

## 필요 부분 데이터만 불러오기

In [8]:
df = pd.read_excel(r'C:/Users/Jinyoung/Pictures/python_analysis/fc_preprocessing/rawdata/part1/월별매출데이터.xlsx', sheet_name='6월', skiprows=range(6))

In [12]:
df = df.iloc[:, 1:] # 첫번째 컬럼 불필요 하므로 제거

In [13]:
df.head()

         일자   지점   품명  수량 주문인 ID           수령 주소 주문 상태  결제 수단
0  2018.6.1  지점1  제품C   8  C-228  서울특별시 서대문구 홍제동  주문완료  인터넷뱅킹
1  2018.6.1  지점4  제품F   8  C-243   서울특별시 송파구 마천동  주문완료  인터넷뱅킹
2  2018.6.1  지점4  제품D   3  C-191   서울특별시 노원구 월계동   배송중   신용카드
3  2018.6.1  지점2  제품D   0  C-271  서울특별시 중구 회현동3가  배송완료  휴대폰결제
4  2018.6.1  지점4  제품D   8  C-244   서울특별시 중구 서소문동  배송완료  인터넷뱅킹