In [1]:
import os
import pandas as pd

In [2]:
df = pd.read_csv(r'C:/Users/Jinyoung/Pictures/python_analysis/fc_preprocessing/rawdata/part1/온라인_판매기록.csv', engine='python')

In [3]:
df.head()

  쇼핑몰     제품  수량     판매금액 쇼핑몰 유형
0  쿠팡  제품_16   8  1134400     쿠팡
1  쿠팡  제품_57   8   439200     쿠팡
2  쿠팡  제품_25   4   495200     쿠팡
3  쿠팡  제품_18   4   578000     쿠팡
4  쿠팡  제품_90   2    75000     쿠팡

In [4]:
df.groupby(['쇼핑몰 유형'])['수량'].mean()

쇼핑몰 유형
동물병원      5.512889
온라인II     5.807143
온라인사이트    5.477670
유통대리점     5.493333
전시회       5.556701
쿠팡        5.396389
할인점       5.288525
할인점II     5.469565
Name: 수량, dtype: float64

In [5]:
df.groupby(['쇼핑몰 유형'], as_index=False)['수량'].mean()

   쇼핑몰 유형        수량
0    동물병원  5.512889
1   온라인II  5.807143
2  온라인사이트  5.477670
3   유통대리점  5.493333
4     전시회  5.556701
5      쿠팡  5.396389
6     할인점  5.288525
7   할인점II  5.469565