In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd   
import matplotlib.pyplot as plt
import seaborn as sns
import itertools

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, log_loss

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier

데이터 변수 설명





index


gender: 성별


car: 차량 소유 여부


reality: 부동산 소유 여부


child_num: 자녀 수


income_total: 연간 소득


income_type: 소득 분류


							['Commercial associate', 'Working', 'State servant', 'Pensioner', 'Student']



edu_type: 교육 수준


							['Higher education' ,'Secondary / secondary special', 'Incomplete higher', 'Lower secondary', 'Academic degree']



family_type: 결혼 여부


							['Married', 'Civil marriage', 'Separated', 'Single / not married', 'Widow']



house_type: 생활 방식


							['Municipal apartment', 'House / apartment', 'With parents',

							

							 'Co-op apartment', 'Rented apartment', 'Office apartment']



DAYS_BIRTH: 출생일


							데이터 수집 당시 (0)부터 역으로 셈, 즉, -1은 데이터 수집일 하루 전에 태어났음을 의미



DAYS_EMPLOYED: 업무 시작일


							데이터 수집 당시 (0)부터 역으로 셈, 즉, -1은 데이터 수집일 하루 전부터 일을 시작함을 의미

													

							양수 값은 고용되지 않은 상태를 의미함



FLAG_MOBIL: 핸드폰 소유 여부


work_phone: 업무용 전화 소유 여부


phone: 전화 소유 여부


email: 이메일 소유 여부


occyp_type: 직업 유형													


family_size: 가족 규모


begin_month: 신용카드 발급 월
			

							데이터 수집 당시 (0)부터 역으로 셈, 즉, -1은 데이터 수집일 한 달 전에 신용카드를 발급함을 의미







credit: 사용자의 신용카드 대금 연체를 기준의 신용도


							=> 낮을 수록 높은 신용의 신용카드 사용자를 의미함

In [2]:
import os
os.chdir('../raw_data')

In [5]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sample_submission = pd.read_csv('sample_submission.csv')

In [6]:
train.shape

(26457, 20)

In [7]:
test.shape

(10000, 19)

In [9]:
sample_submission.shape

(10000, 4)

In [10]:
train.head()

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit
0,0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,-13899,-4709,1,0,0,0,NaN,2.0,-6.0,1.0
1,1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,Laborers,3.0,-5.0,1.0
2,2,M,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,Managers,2.0,-22.0,2.0
3,3,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15088,-2092,1,0,1,0,Sales staff,2.0,-37.0,0.0
4,4,F,Y,Y,0,157500.0,State servant,Higher education,Married,House / apartment,-15037,-2105,1,0,0,0,Managers,2.0,-26.0,2.0

In [11]:
train.columns

Index(['index', 'gender', 'car', 'reality', 'child_num', 'income_total',
       'income_type', 'edu_type', 'family_type', 'house_type', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'FLAG_MOBIL', 'work_phone', 'phone', 'email',
       'occyp_type', 'family_size', 'begin_month', 'credit'],
      dtype='object')

In [13]:
for column in train.columns:

index
gender
car
reality
child_num
income_total
income_type
edu_type
family_type
house_type
DAYS_BIRTH
DAYS_EMPLOYED
FLAG_MOBIL
work_phone
phone
email
occyp_type
family_size
begin_month
credit

In [15]:
train['gender'].value_counts()

F    17697
M     8760
Name: gender, dtype: int64

In [17]:
train.isnull().sum()

index               0
gender              0
car                 0
reality             0
child_num           0
income_total        0
income_type         0
edu_type            0
family_type         0
house_type          0
DAYS_BIRTH          0
DAYS_EMPLOYED       0
FLAG_MOBIL          0
work_phone          0
phone               0
email               0
occyp_type       8171
family_size         0
begin_month         0
credit              0
dtype: int64

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../raw_data/abalone.txt')

In [11]:
df.groupby(['M'], as_index=False)['M'].count()

      M
0  1307
1  1342
2  1527

In [22]:
for i in df['M'].value_counts().values:
    print(i)

1527
1342
1307

In [23]:
df

      M  0.455  0.365  0.095   0.514  0.2245   0.101    0.15  15
0     M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.0700   7
1     F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.2100   9
2     M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.1550  10
3     I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.0550   7
4     I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.1200   8
...  ..    ...    ...    ...     ...     ...     ...     ...  ..
4171  F  0.565  0.450  0.165  0.8870  0.3700  0.2390  0.2490  11
4172  M  0.590  0.440  0.135  0.9660  0.4390  0.2145  0.2605  10
4173  M  0.600  0.475  0.205  1.1760  0.5255  0.2875  0.3080   9
4174  F  0.625  0.485  0.150  1.0945  0.5310  0.2610  0.2960  10
4175  M  0.710  0.555  0.195  1.9485  0.9455  0.3765  0.4950  12

[4176 rows x 9 columns]

In [24]:
df['M'].value_counts().keys()

Index(['M', 'I', 'F'], dtype='object')

In [28]:
df['count']

KeyError: 'count'

In [67]:
"""
column의 값과 value_counts로 계산한 key의 값이 같다면 value를 입력
"""
for num in range(len(df['M'])):
    for key, value in zip(df['M'].value_counts().keys(), df['M'].value_counts().values):
        if df['M'][num] == key:
            df['count'][num] = value

<ipython-input-67-dad842d8ff5c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['count'][num] = value

In [68]:
df['count'].value_counts()

2650    2650
1       1526
Name: count, dtype: int64

In [69]:
df['count']

0          1
1          1
2          1
3          1
4          1
        ...
4171    2650
4172    2650
4173    2650
4174    2650
4175    2650
Name: count, Length: 4176, dtype: int64

In [62]:
for i, j, m in zip(range(len(df['M'])), df['M'].value_counts().keys(), df['M'].value_counts().values):
    print(df['M'][i], j, m)

1527 1 2650
1307 512 1
1526 503 1
1342 504 1
1341 505 1
1306 506 1
1305 507 1
1525 508 1
1304 509 1
1303 510 1
1524 511 1
1523 513 1
1302 501 1
1301 514 1
1522 515 1
1340 516 1
1300 517 1
1521 518 1
1520 519 1
1519 520 1
1339 521 1
1299 522 1
1298 502 1
1297 500 1
1296 524 1
1295 488 1
1518 479 1
1517 480 1
1516 481 1
1515 482 1
1294 483 1
1514 484 1
1293 485 1
1292 486 1
1513 487 1
1291 489 1
1290 499 1
1289 490 1
1512 491 1
1288 492 1
1287 493 1
1338 494 1
1337 495 1
1336 496 1
1335 497 1
1511 498 1
1286 523 1
1334 525 1
1285 572 1
1333 560 1
1510 551 1
1509 552 1
1284 553 1
1508 554 1
1283 555 1
1507 556 1
1506 557 1
1332 558 1
1282 559 1
1505 561 1
1504 549 1
1281 562 1
1503 563 1
1502 564 1
1501 565 1
1280 566 1
1279 567 1
1278 568 1
1331 569 1
1500 570 1
1277 550 1
1276 548 1
1499 526 1
1275 536 1
1274 527 1
1498 528 1
1273 529 1
1272 530 1
1271 531 1
1270 532 1
1497 533 1
1269 534 1
1496 535 1
1495 537 1
1268 547 1
1494 538 1
1493 539 1
1267 540 1
1266 541 1
1492 542 1
1491 543 1
1490 544 1
1265 545 1
1489 546 1
1488 478 1
1487 477 1
1486 476 1
1485 417 1
1264 408 1
1330 409 1
1484 410 1
1483 411 1
1482 412 1
1481 413 1
1263 414 1
1262 415 1
1261 416 1
1260 418 1
1259 406 1
1480 419 1
1479 420 1
1329 421 1
1478 422 1
1258 423 1
1257 424 1
1256 425 1
1477 426 1
1255 427 1
1476 407 1
1254 405 1
1328 475 1
1253 393 1
1475 384 1
1327 385 1
1326 386 1
1325 387 1
1324 388 1
1474 389 1
1473 390 1
1472 391 1
1252 392 1
1251 394 1
1323 404 1
1322 395 1
1250 396 1
1249 397 1
1471 398 1
1248 399 1
1470 400 1
1247 401 1
1246 402 1
1469 403 1
1468 428 1
1467 429 1
1245 430 1
1466 464 1
1321 455 1
1320 456 1
1319 457 1
1465 458 1
1244 459 1
1243 460 1
1242 461 1
1241 462 1
1464 463 1
1240 465 1
1463 431 1
1239 466 1
1238 467 1
1462 468 1
1237 469 1
1461 470 1
1236 471 1
1235 472 1
1460 473 1
1234 474 1
1233 454 1
1459 453 1
1232 452 1
1458 451 1
1231 432 1
1457 433 1
1230 434 1
1318 435 1
1317 436 1
1316 437 1
1315 438 1
1314 439 1
1456 440 1
1455 441 1
1454 442 1
1229 443 1
1228 444 1
1227 445 1
1453 446 1
1226 447 1
1225 448 1
1224 449 1
1223 450 1
1452 571 1
1451 573 1
1450 382 1
1313 703 1
1222 694 1
1449 695 1
1221 696 1
1448 697 1
1447 698 1
1446 699 1
1220 700 1
1445 701 1
1219 702 1
1218 704 1
1444 692 1
1217 705 1
1312 706 1
1311 707 1
1216 708 1
1310 709 1
1215 710 1
1443 711 1
1214 712 1
1442 713 1
1213 693 1
1441 691 1
1440 715 1
1309 679 1
1439 670 1
1212 671 1
1211 672 1
1210 673 1
1209 674 1
1208 675 1
1308 676 1
1207 677 1
1206 678 1
1 680 1
1205 690 1
1204 681 1
1438 682 1
1437 683 1
1436 684 1
1 685 1
1 686 1
1 687 1
1 688 1
1 689 1
1 714 1
1 716 1
1435 574 1
1 751 1
1 742 1
1 743 1
1 744 1
1 745 1
1 746 1
1 747 1
1 748 1
1 749 1
1 750 1
1434 752 1
1203 740 1
1202 753 1
1433 754 1
1432 755 1
1431 756 1
1430 757 1
1201 758 1
1200 759 1
1199 760 1
1198 761 1
1429 741 1
1 739 1
1428 717 1
1197 727 1
1427 718 1
1426 719 1
1425 720 1
1196 721 1
1195 722 1
1424 723 1
1423 724 1
1422 725 1
1421 726 1
1420 728 1
1194 738 1
1419 729 1
1418 730 1
1193 731 1
1192 732 1
1 733 1
1191 734 1
1417 735 1
1416 736 1
1190 737 1
1415 669 1
1189 668 1
1414 667 1
1188 608 1
1413 599 1
1187 600 1
1412 601 1
1186 602 1
1411 603 1
1 604 1
1 605 1
1 606 1
1410 607 1
1409 609 1
1185 597 1
1184 610 1
1408 611 1
1407 612 1
1183 613 1
1 614 1
1 615 1
1406 616 1
1405 617 1
1404 618 1
1182 598 1
1403 596 1
1402 666 1
1181 584 1
1401 575 1
1 576 1
1180 577 1
1400 578 1
1179 579 1
1 580 1
1 581 1
1 582 1
1399 583 1
1 585 1
1398 595 1
1 586 1
1 587 1
1397 588 1
1396 589 1
1 590 1
1395 591 1
1178 592 1
1 593 1
1 594 1
1177 619 1
1394 620 1
1393 621 1
1392 655 1
1391 646 1
1176 647 1
1390 648 1
1175 649 1
1389 650 1
1174 651 1
1173 652 1
1388 653 1
1172 654 1
1 656 1
1 622 1
1387 657 1
1171 658 1
1170 659 1
1386 660 1
1385 661 1
1384 662 1
1383 663 1
1382 664 1
1169 665 1
1381 645 1
1168 644 1
1380 643 1
1167 642 1
1166 623 1
1165 624 1
1164 625 1
1379 626 1
1378 627 1
1163 628 1
1377 629 1
1162 630 1
1161 631 1
1160 632 1
1159 633 1
1158 634 1
1376 635 1
1157 636 1
1375 637 1
1156 638 1
1374 639 1
1155 640 1
1373 641 1
1372 383 1
1371 381 1
1370 763 1
1369 130 1
1154 121 1
1368 122 1
1367 123 1
1366 124 1
1 125 1
1 126 1
1365 127 1
1153 128 1
1 129 1
1 131 1
1 119 1
1152 132 1
1364 133 1
1363 134 1
1362 135 1
1151 136 1
1361 137 1
1150 138 1
1149 139 1
1 140 1
1148 120 1
1360 118 1
1359 142 1
1358 106 1
1357 97 1
1356 98 1
1355 99 1
1147 100 1
1354 101 1
1146 102 1
1145 103 1
1144 104 1
1353 105 1
1143 107 1
1352 117 1
1142 108 1
1 109 1
1141 110 1
1 111 1
1 112 1
1351 113 1
1140 114 1
1350 115 1
1139 116 1
1138 141 1
1137 143 1
1349 190 1
1348 178 1
1347 169 1
1 170 1
1346 171 1
1 172 1
1 173 1
1345 174 1
1344 175 1
1 176 1
1 177 1
1136 179 1
1 167 1
1135 180 1
1134 181 1
1343 182 1
1 183 1
1 184 1
1133 185 1
1 186 1
1132 187 1
1131 188 1
1130 168 1
1129 166 1
1 144 1
1128 154 1
1 145 1
1 146 1
1127 147 1
1 148 1
1126 149 1
1 150 1
1 151 1
1 152 1
1 153 1
1125 155 1
1 165 1
1124 156 1
1 157 1
1123 158 1
1122 159 1
1 160 1
1121 161 1
1120 162 1
1 163 1
1119 164 1
1 96 1
1 95 1
1 94 1
1118 35 1
1 26 1
1 27 1
1117 28 1
1 29 1
1116 30 1
1 31 1
1115 32 1
1 33 1
1114 34 1
1 36 1
1 24 1
1113 37 1
1 38 1
1 39 1
1112 40 1
1111 41 1
1110 42 1
1109 43 1
1 44 1
1108 45 1
1107 25 1
1106 23 1
1105 93 1
1104 11 1
1 2 1
1 3 1
1 4 1
1 5 1
1 6 1
1 7 1
1103 8 1
1102 9 1
1 10 1
1101 12 1
1 22 1
1 13 1
1 14 1
1 15 1
1100 16 1
1 17 1
1099 18 1
1 19 1
1 20 1
1 21 1
1 46 1
1 47 1
1098 48 1
1097 82 1
1 73 1
1 74 1
1096 75 1
1 76 1
1095 77 1
1 78 1
1 79 1
1 80 1
1 81 1
1 83 1
1094 49 1
1093 84 1
1092 85 1
1 86 1
1 87 1
1091 88 1
1 89 1
1 90 1
1 91 1
1090 92 1
1 72 1
1 71 1
1 70 1
1 69 1
1 50 1
1 51 1
1 52 1
1 53 1
1089 54 1
1088 55 1
1 56 1
1087 57 1
1 58 1
1086 59 1
1085 60 1
1084 61 1
1 62 1
1 63 1
1 64 1
1 65 1
1083 66 1
1 67 1
1 68 1
1082 189 1
1081 191 1
1 380 1
1080 321 1
1 312 1
1079 313 1
1 314 1
1078 315 1
1077 316 1
1 317 1
1076 318 1
1 319 1
1075 320 1
1 322 1
1 310 1
1074 323 1
1 324 1
1073 325 1
1 326 1
1072 327 1
1 328 1
1071 329 1
1 330 1
1 331 1
1070 311 1
1 309 1
1 333 1
1069 297 1
1 288 1
1068 289 1
1067 290 1
1 291 1
1 292 1
1 293 1
1 294 1
1 295 1
1 296 1
1 298 1
1066 308 1
1 299 1
1 300 1
1 301 1
1 302 1
1 303 1
1065 304 1
1 305 1
1 306 1
1 307 1
1 332 1
1 334 1
1064 192 1
1063 369 1
1 360 1
1062 361 1
1061 362 1
1060 363 1
1 364 1
1 365 1
1 366 1
1059 367 1
1 368 1
1 370 1
1 358 1
1 371 1
1 372 1
1 373 1
1 374 1
1058 375 1
1 376 1
1 377 1
1057 378 1
1 379 1
1 359 1
1 357 1
1 335 1
1 345 1
1 336 1
1056 337 1
1 338 1
1 339 1
1 340 1
1 341 1
1055 342 1
1 343 1
1054 344 1
1053 346 1
1 356 1
1052 347 1
1 348 1
1 349 1
1051 350 1
1050 351 1
1 352 1
1049 353 1
1 354 1
1048 355 1
1 287 1
1047 286 1
1 285 1
1046 226 1
1045 217 1
1 218 1
1044 219 1
1043 220 1
1 221 1
1042 222 1
1041 223 1
1040 224 1
1 225 1
1 227 1
1039 215 1
1 228 1
1 229 1
1 230 1
1038 231 1
1037 232 1
1 233 1
1 234 1
1 235 1
1 236 1
1036 216 1
1 214 1
1 284 1
1 202 1
1 193 1
1 194 1
1035 195 1
1034 196 1
1 197 1
1033 198 1
1032 199 1
1 200 1
1 201 1
1 203 1
1 213 1
1031 204 1
1 205 1
1 206 1
1 207 1
1 208 1
1 209 1
1 210 1
1 211 1
1 212 1
1 237 1
1 238 1
1 239 1
1 273 1
1 264 1
1 265 1
1 266 1
1 267 1
1 268 1
1030 269 1
1 270 1
1029 271 1
1 272 1
1028 274 1
1 240 1
1 275 1
1 276 1
1 277 1
1 278 1
1 279 1
1 280 1
1027 281 1
1 282 1
1 283 1
1 263 1
1026 262 1
1025 261 1
1024 260 1
1 241 1
1023 242 1
1022 243 1
1 244 1
1 245 1
1 246 1
1021 247 1
1 248 1
1020 249 1
1019 250 1
1 251 1
1 252 1
1 253 1
1018 254 1
1 255 1
1 256 1
1 257 1
1017 258 1
1016 259 1
1 762 1
1015 1527 1
1 1526 1
1014 1276 1
1 1267 1
1013 1268 1
1012 1269 1
1011 1270 1
1 1271 1
1 1272 1
1 1273 1
1 1274 1
1 1275 1
1 1277 1
1 1265 1
1 1278 1
1010 1279 1
1 1280 1
1 1281 1
1 1282 1
1 1283 1
1 1284 1
1 1285 1
1009 1286 1
1 1266 1
1008 1264 1
1007 1288 1
1006 1252 1
1005 1243 1
1 1244 1
1 1245 1
1 1246 1
1 1247 1
1 1248 1
1 1249 1
1 1250 1
1004 1251 1
1 1253 1
1 1263 1
1 1254 1
1 1255 1
1 1256 1
1 1257 1
1 1258 1
1003 1259 1
1002 1260 1
1001 1261 1
1 1262 1
1000 1287 1
1 1289 1
1 1336 1
1 1324 1
1 1315 1
1 1316 1
1 1317 1
1 1318 1
1 1319 1
1 1320 1
1 1321 1
1 1322 1
1 1323 1
1 1325 1
1 1313 1
1 1326 1
1 1327 1
1 1328 1
1 1329 1
1 1330 1
1 1331 1
1 1332 1
1 1333 1
1 1334 1
1 1314 1
1 1312 1
1 1290 1
999 1300 1
1 1291 1
1 1292 1
998 1293 1
1 1294 1
1 1295 1
1 1296 1
1 1297 1
997 1298 1
996 1299 1
995 1301 1
1 1311 1
994 1302 1
1 1303 1
1 1304 1
1 1305 1
1 1306 1
993 1307 1
1 1308 1
1 1309 1
992 1310 1
991 1242 1
990 1241 1
989 1240 1
1 1181 1
988 1172 1
1 1173 1
987 1174 1
1 1175 1
986 1176 1
985 1177 1
1 1178 1
1 1179 1
984 1180 1
1 1182 1
983 1170 1
982 1183 1
1 1184 1
1 1185 1
981 1186 1
980 1187 1
979 1188 1
1 1189 1
1 1190 1
1 1191 1
1 1171 1
1 1169 1
978 1239 1
977 1157 1
976 1148 1
975 1149 1
974 1150 1
973 1151 1
1 1152 1
1 1153 1
1 1154 1
1 1155 1
1 1156 1
1 1158 1
1 1168 1
1 1159 1
1 1160 1
1 1161 1
1 1162 1
1 1163 1
1 1164 1
1 1165 1
1 1166 1
1 1167 1
1 1192 1
1 1193 1
1 1194 1
1 1228 1
1 1219 1
1 1220 1
1 1221 1
1 1222 1
1 1223 1
1 1224 1
1 1225 1
1 1226 1
1 1227 1
1 1229 1
1 1195 1
1 1230 1
1 1231 1
1 1232 1
1 1233 1
1 1234 1
1 1235 1
1 1236 1
1 1237 1
1 1238 1
972 1218 1
1 1217 1
1 1216 1
1 1215 1
1 1196 1
1 1197 1
1 1198 1
1 1199 1
1 1200 1
1 1201 1
1 1202 1
1 1203 1
1 1204 1
971 1205 1
1 1206 1
970 1207 1
1 1208 1
969 1209 1
1 1210 1
1 1211 1
1 1212 1
1 1213 1
968 1214 1
1 1335 1
1 1337 1
1 1146 1
1 1467 1
1 1458 1
1 1459 1
1 1460 1
967 1461 1
1 1462 1
1 1463 1
1 1464 1
1 1465 1
1 1466 1
1 1468 1
1 1456 1
1 1469 1
966 1470 1
1 1471 1
965 1472 1
1 1473 1
964 1474 1
963 1475 1
1 1476 1
962 1477 1
1 1457 1
1 1455 1
961 1479 1
960 1443 1
959 1434 1
958 1435 1
1 1436 1
1 1437 1
957 1438 1
1 1439 1
1 1440 1
1 1441 1
956 1442 1
955 1444 1
954 1454 1
1 1445 1
953 1446 1
1 1447 1
1 1448 1
1 1449 1
952 1450 1
951 1451 1
950 1452 1
1 1453 1
949 1478 1
1 1480 1
948 1338 1
1 1515 1
1 1506 1
1 1507 1
1 1508 1
947 1509 1
946 1510 1
945 1511 1
1 1512 1
944 1513 1
943 1514 1
942 1516 1
1 1504 1
941 1517 1
1 1518 1
1 1519 1
1 1520 1
1 1521 1
940 1522 1
939 1523 1
938 1524 1
1 1525 1
1 1505 1
937 1503 1
1 1481 1
936 1491 1
935 1482 1
1 1483 1
1 1484 1
1 1485 1
934 1486 1
933 1487 1
932 1488 1
1 1489 1
1 1490 1
931 1492 1
1 1502 1
930 1493 1
929 1494 1
1 1495 1
1 1496 1
1 1497 1
928 1498 1
927 1499 1
1 1500 1
1 1501 1
926 1433 1
925 1432 1
1 1431 1
1 1372 1
1 1363 1
1 1364 1
1 1365 1
1 1366 1
1 1367 1
1 1368 1
1 1369 1
1 1370 1
1 1371 1
1 1373 1
1 1361 1
1 1374 1
1 1375 1
1 1376 1
1 1377 1
1 1378 1
1 1379 1
1 1380 1
1 1381 1
1 1382 1
1 1362 1
1 1360 1
1 1430 1
1 1348 1
1 1339 1
1 1340 1
1 1341 1
1 1342 1
1 1343 1
1 1344 1
1 1345 1
1 1346 1
1 1347 1
1 1349 1
1 1359 1
1 1350 1
1 1351 1
1 1352 1
1 1353 1
1 1354 1
1 1355 1
1 1356 1
1 1357 1
1 1358 1
1 1383 1
1 1384 1
1 1385 1
1 1419 1
1 1410 1
924 1411 1
1 1412 1
923 1413 1
1 1414 1
1 1415 1
1 1416 1
1 1417 1
1 1418 1
1 1420 1
922 1386 1
1 1421 1
1 1422 1
1 1423 1
1 1424 1
1 1425 1
1 1426 1
1 1427 1
1 1428 1
1 1429 1
1 1409 1
921 1408 1
920 1407 1
1 1406 1
1 1387 1
1 1388 1
919 1389 1
1 1390 1
1 1391 1
1 1392 1
918 1393 1
1 1394 1
917 1395 1
1 1396 1
916 1397 1
915 1398 1
1 1399 1
914 1400 1
1 1401 1
1 1402 1
1 1403 1
1 1404 1
1 1405 1
1 1147 1
1 1145 1
1 765 1
1 894 1
913 885 1
1 886 1
1 887 1
1 888 1
912 889 1
1 890 1
911 891 1
1 892 1
910 893 1
1 895 1
1 883 1
909 896 1
1 897 1
1 898 1
1 899 1
1 900 1
908 901 1
907 902 1
1 903 1
1 904 1
906 884 1
905 882 1
1 906 1
1 870 1
1 861 1
904 862 1
1 863 1
1 864 1
903 865 1
902 866 1
1 867 1
1 868 1
901 869 1
900 871 1
1 881 1
1 872 1
899 873 1
898 874 1
1 875 1
897 876 1
1 877 1
896 878 1
1 879 1
1 880 1
1 905 1
895 907 1
894 954 1
893 942 1
1 933 1
1 934 1
892 935 1
891 936 1
1 937 1
1 938 1
890 939 1
1 940 1
1 941 1
889 943 1
888 931 1
1 944 1
887 945 1
1 946 1
1 947 1
1 948 1
1 949 1
1 950 1
1 951 1
1 952 1
1 932 1
1 930 1
1 908 1
1 918 1
1 909 1
1 910 1
1 911 1
1 912 1
1 913 1
1 914 1
1 915 1
1 916 1
1 917 1
1 919 1
1 929 1
1 920 1
1 921 1
1 922 1
1 923 1
1 924 1
1 925 1
1 926 1
1 927 1
1 928 1
1 860 1
1 859 1
1 858 1
1 799 1
1 790 1
1 791 1
1 792 1
1 793 1
1 794 1
1 795 1
1 796 1
1 797 1
1 798 1
1 800 1
1 788 1
1 801 1
1 802 1
1 803 1
1 804 1
1 805 1
1 806 1
1 807 1
886 808 1
1 809 1
1 789 1
1 787 1
885 857 1
1 775 1
1 766 1
1 767 1
1 768 1
1 769 1
1 770 1
1 771 1
1 772 1
1 773 1
1 774 1
1 776 1
1 786 1
1 777 1
1 778 1
1 779 1
1 780 1
1 781 1
1 782 1
1 783 1
1 784 1
1 785 1
1 810 1
1 811 1
1 812 1
1 846 1
1 837 1
1 838 1
1 839 1
1 840 1
1 841 1
1 842 1
1 843 1
1 844 1
1 845 1
1 847 1
884 813 1
1 848 1
883 849 1
1 850 1
1 851 1
882 852 1
1 853 1
1 854 1
1 855 1
881 856 1
1 836 1
1 835 1
1 834 1
1 833 1
1 814 1
1 815 1
1 816 1
1 817 1
1 818 1
880 819 1
1 820 1
1 821 1
879 822 1
1 823 1
1 824 1
1 825 1
1 826 1
878 827 1
1 828 1
1 829 1
1 830 1
877 831 1
876 832 1
1 953 1
1 955 1
1 1144 1
875 1085 1
1 1076 1
1 1077 1
1 1078 1
1 1079 1
1 1080 1
1 1081 1
1 1082 1
1 1083 1
1 1084 1
1 1086 1
874 1074 1
873 1087 1
1 1088 1
1 1089 1
1 1090 1
872 1091 1
871 1092 1
1 1093 1
1 1094 1
1 1095 1
1 1075 1
870 1073 1
869 1097 1
1 1061 1
1 1052 1
1 1053 1
1 1054 1
1 1055 1
1 1056 1
868 1057 1
1 1058 1
1 1059 1
867 1060 1
1 1062 1
1 1072 1
866 1063 1
1 1064 1
1 1065 1
865 1066 1
864 1067 1
1 1068 1
863 1069 1
862 1070 1
861 1071 1
860 1096 1
1 1098 1
1 956 1
1 1133 1
1 1124 1
1 1125 1
859 1126 1
858 1127 1
1 1128 1
1 1129 1
1 1130 1
1 1131 1
1 1132 1
1 1134 1
1 1122 1
857 1135 1
856 1136 1
1 1137 1
1 1138 1
855 1139 1
854 1140 1
1 1141 1
853 1142 1
1 1143 1
852 1123 1
851 1121 1
850 1099 1
849 1109 1
848 1100 1
1 1101 1
1 1102 1
847 1103 1
846 1104 1
1 1105 1
1 1106 1
845 1107 1
844 1108 1
843 1110 1
1 1120 1
842 1111 1
841 1112 1
840 1113 1
839 1114 1
838 1115 1
837 1116 1
1 1117 1
1 1118 1
1 1119 1
1 1051 1
1 1050 1
1 1049 1
1 990 1
1 981 1
1 982 1
1 983 1
1 984 1
1 985 1
1 986 1
1 987 1
1 988 1
1 989 1
1 991 1
1 979 1
1 992 1
1 993 1
1 994 1
1 995 1
1 996 1
1 997 1
1 998 1
1 999 1
1 1000 1
1 980 1
836 978 1
1 1048 1
1 966 1
1 957 1
1 958 1
835 959 1
1 960 1
834 961 1
1 962 1
1 963 1
1 964 1
1 965 1
1 967 1
1 977 1
1 968 1
833 969 1
832 970 1
1 971 1
831 972 1
830 973 1
1 974 1
1 975 1
1 976 1
829 1001 1
828 1002 1
1 1003 1
1 1037 1
827 1028 1
826 1029 1
825 1030 1
1 1031 1
1 1032 1
824 1033 1
823 1034 1
822 1035 1
821 1036 1
1 1038 1
1 1004 1
820 1039 1
1 1040 1
1 1041 1
1 1042 1
1 1043 1
819 1044 1
1 1045 1
1 1046 1
818 1047 1
817 1027 1
1 1026 1
816 1025 1
815 1024 1
1 1005 1
814 1006 1
813 1007 1
1 1008 1
812 1009 1
1 1010 1
811 1011 1
1 1012 1
1 1013 1
810 1014 1
1 1015 1
1 1016 1
1 1017 1
809 1018 1
1 1019 1
1 1020 1
808 1021 1
1 1022 1
1 1023 1
1 764 1

In [64]:
df['M'].value_counts().keys()

Int64Index([   1,  512,  503,  504,  505,  506,  507,  508,  509,  510,
            ...
            1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023,  764],
           dtype='int64', length=1527)

In [66]:
df['M'].value_counts()

1       2650
512        1
503        1
504        1
505        1
        ...
1020       1
1021       1
1022       1
1023       1
764        1
Name: M, Length: 1527, dtype: int64