In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../raw_data/abalone.txt')

In [3]:
df

      M  0.455  0.365  0.095   0.514  0.2245   0.101    0.15  15
0     M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.0700   7
1     F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.2100   9
2     M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.1550  10
3     I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.0550   7
4     I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.1200   8
...  ..    ...    ...    ...     ...     ...     ...     ...  ..
4171  F  0.565  0.450  0.165  0.8870  0.3700  0.2390  0.2490  11
4172  M  0.590  0.440  0.135  0.9660  0.4390  0.2145  0.2605  10
4173  M  0.600  0.475  0.205  1.1760  0.5255  0.2875  0.3080   9
4174  F  0.625  0.485  0.150  1.0945  0.5310  0.2610  0.2960  10
4175  M  0.710  0.555  0.195  1.9485  0.9455  0.3765  0.4950  12

[4176 rows x 9 columns]

In [6]:
df['M'].value_counts().keys()

Index(['M', 'I', 'F'], dtype='object')

In [8]:
for i in df['M'].value_counts().keys():
    print(i)

M
I
F

In [9]:
for i, j in zip(df['M'].value_counts().keys(), df['M'].value_counts().values):
    print(i, j)

M 1527
I 1342
F 1307

In [18]:
for i in range(len(df['M'])):

KeyError: 'count'

In [22]:
for i in range(len(df['M'])):
    for key, value in zip(df['M'].value_counts().keys(), df['M'].value_counts().values):
        if df['M'][i] == key:
            df['count'][i] = value

<ipython-input-22-5e7cbbfddb27>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['count'][i] = value

In [20]:
df['count'] = pd.Series([0 for _ in range(len(df['M']))])

In [23]:
df['count'].value_counts()

1527    1527
1342    1342
1307    1307
Name: count, dtype: int64

In [24]:
df['count']

0       1527
1       1307
2       1527
3       1342
4       1342
        ...
4171    1307
4172    1527
4173    1527
4174    1307
4175    1527
Name: count, Length: 4176, dtype: int64

In [27]:
df['M'].value_counts()

M    1527
I    1342
F    1307
Name: M, dtype: int64

In [27]:
df['count'] = df['M']
new_df['count'] = df.groupby('M').agg({'count': lambda x:x.count()})

In [28]:
new_df['count']

M
F    1307
I    1342
M    1527
Name: count, dtype: int64

In [22]:
df['M']

0       M
1       F
2       M
3       I
4       I
       ..
4171    F
4172    M
4173    M
4174    F
4175    M
Name: M, Length: 4176, dtype: object