In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('CRM_Churn_Label_Shared.tsv', sep = '\t')

In [ ]:
from azureml import Workspace
ws = Workspace(
    workspace_id='c9941746fd0d4938b063edc202f3bd3e',
    authorization_token='yQjUveeRWesmK1EaXNErMfY2tZlZeycNlrTxC0E50ElERynzU7JBj1mHUVLmv70d7DF/sxg+tv71xkxg5ePNTw==',
    endpoint='https://studioapi.azureml.net'
)
ds = ws.datasets['CRM Dataset Shared']
frame = ds.to_dataframe()

In [ ]:
frame

       0
0     -1
1      1
2     -1
3     -1
4     -1
...   ..
49995 -1
49996 -1
49997 -1
49998 -1
49999 -1

[50000 rows x 1 columns]