## 목표

1. 점포별 판매량의 추이를 그래프로 표현
2. 상품의 종류를 나누어 표현
3. 가장 많이 팔린 점포만 확인

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

mpl.rc('font', family='Malgun Gothic')

In [2]:
df = pd.read_csv('../rawdata/Data09.csv', encoding='cp949')

In [3]:
df.tail()

,순번,상품코드,상품명,합계,(1154)의정부점,(1155)별내점,(1156)풍산점,(1157)김포한강점,(1158)세종점,(1159)킨텍스점,...,(L21)위시티점,(L23)걸포동점,(L27)통일동산점,(L35)성대점,(L36)병점점,(L38)율전점,(L39)본오점,(L40)검암점,(L44)신길점,(L46)용호점
112,111.0,8.801860e+12,CAT1 355ml*12캔+카카오 에코백+치,179,0,9,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
113,112.0,8.801860e+12,CAT2 355*24캔 + 진라면 6캔,212,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
114,113.0,8.801860e+12,CAT2 1.6L*6,"6,564",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
115,114.0,8.801860e+12,CAT2 1.6L,"125,144",365,564,796,948,594,283,...,241,196,379,120,273,128,354,106,242,122
116,115.0,8.801860e+12,CAT1 1.6L,"22,796",113,101,168,93,107,50,...,36,14,80,29,42,54,28,9,28,24

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Columns: 646 entries, 순번 to (L46)용호점
dtypes: float64(2), object(644)
memory usage: 590.6+ KB

In [5]:
df.describe()

               순번          상품코드
count  115.000000  1.150000e+02
mean    58.000000  7.074508e+12
std     33.341666  3.131349e+12
min      1.000000  1.801828e+06
25%     29.500000  6.179595e+12
50%     58.000000  8.801020e+12
75%     86.500000  8.801020e+12
max    115.000000  8.801860e+12

In [6]:
df.shape

(117, 646)

In [7]:
df.columns

Index(['순번', '상품코드', '상품명', ' 합계', '(1154)의정부점', '(1155)별내점', '(1156)풍산점',
       '(1157)김포한강점', '(1158)세종점', '(1159)킨텍스점',
       ...
       '(L21)위시티점', '(L23)걸포동점', '(L27)통일동산점', '(L35)성대점', '(L36)병점점',
       '(L38)율전점', '(L39)본오점', '(L40)검암점', '(L44)신길점', '(L46)용호점'],
      dtype='object', length=646)

In [8]:
df.head()

,순번,상품코드,상품명,합계,(1154)의정부점,(1155)별내점,(1156)풍산점,(1157)김포한강점,(1158)세종점,(1159)킨텍스점,...,(L21)위시티점,(L23)걸포동점,(L27)통일동산점,(L35)성대점,(L36)병점점,(L38)율전점,(L39)본오점,(L40)검암점,(L44)신길점,(L46)용호점
0,NaN,NaN,NaN,수량,수량,수량,수량,수량,수량,수량,...,수량,수량,수량,수량,수량,수량,수량,수량,수량,수량
1,NaN,NaN,합 계,"2,029,096","6,829","8,374","12,626","11,767","10,912","7,062",...,"2,392","1,291","4,506","2,364","2,739","1,782","3,129","1,712","3,189","2,347"
2,1.0,1801828.0,BW1 473ml캔(수입),"65,402",174,239,432,199,220,263,...,0,25,76,72,54,72,15,38,27,89
3,2.0,1801859.0,BW1 355ml (낱캔),1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3.0,40786179.0,RB 500ml,"2,158",4,9,10,27,0,11,...,0,0,0,0,0,0,0,0,0,0

In [9]:
stack_data = df.drop(columns=['순번', '상품코드']).set_index('상품명').stack().reset_index()

In [10]:
df2 = pd.DataFrame(stack_data)

### melt로 하는 방법

In [11]:
region_list = df.columns.tolist()[4:]

In [12]:
pd.melt(df, id_vars=['상품명'], value_vars=region_list)

                            상품명    variable  value
0                           NaN  (1154)의정부점     수량
1                           합 계  (1154)의정부점  6,829
2                BW1 473ml캔(수입)  (1154)의정부점    174
3                BW1 355ml (낱캔)  (1154)의정부점      0
4                      RB 500ml  (1154)의정부점      4
...                         ...         ...    ...
75109  CAT1 355ml*12캔+카카오 에코백+치    (L46)용호점      0
75110     CAT2 355*24캔 + 진라면 6캔    (L46)용호점      0
75111               CAT2 1.6L*6    (L46)용호점      0
75112                 CAT2 1.6L    (L46)용호점    122
75113                 CAT1 1.6L    (L46)용호점     24

[75114 rows x 3 columns]

### Null & 불필요 데이터처리

In [13]:
df3 = df2.loc[~(df2['상품명'].isnull()) & (df2['상품명'] != '합 계') & (df2['level_1'] != ' 합계')]

In [14]:
df4 = df3.rename(columns={'level_1' : '점포명' , 0 : '판매량'})

In [15]:
df4

                  상품명          점포명  판매량
1287   BW1 473ml캔(수입)   (1154)의정부점  174
1288   BW1 473ml캔(수입)    (1155)별내점  239
1289   BW1 473ml캔(수입)    (1156)풍산점  432
1290   BW1 473ml캔(수입)  (1157)김포한강점  199
1291   BW1 473ml캔(수입)    (1158)세종점  220
...               ...          ...  ...
75226       CAT1 1.6L     (L38)율전점   54
75227       CAT1 1.6L     (L39)본오점   28
75228       CAT1 1.6L     (L40)검암점    9
75229       CAT1 1.6L     (L44)신길점   28
75230       CAT1 1.6L     (L46)용호점   24

[73830 rows x 3 columns]

In [16]:
df4['상품명'].unique()

array(['BW1 473ml캔(수입)', 'BW1 355ml (낱캔)', 'RB 500ml', 'VX 500ml',
       'CAT2 500ml', 'BW1 473ml(알루미늄)_2018 Worldcup', 'BW1 740ml',
       'BW1 473ml*24캔 ALU', 'G1아일랜드 IPA 355ml',
       'G1 아일랜드 312 Wheat Ale 355ml', 'G1아일랜드 Sopie 355ml', 'GL LOLITA',
       'Juliet', 'GL Gillian', 'GL HALIA', 'STL 500ml', 'B1 Grigio 250ml',
       'BR 250ml', 'PRC 500ml', 'STLA 330*6캔(new code)', 'STL 330ml',
       'RPB 330ml', 'RB1 500ml', 'HGD2 750ml', 'HGD 500캔 (수입)',
       'HGD 330*6캔 (수입)', 'HGD3 500ml', 'HRB 500ml', 'HRB 500ml(신코드)',
       'PTG 473ml캔', 'CFR 355ml*6', 'CFR 355ml', 'CFR 330ml(신)',
       'OLB 355ml', 'OLB 355ml*6', 'OLB 500ml', 'FG 355ml', 'FG 355ml*6',
       'FG 500ml', 'FG 500ml*24캔[Traders]', 'FG 1.6L', 'FG 355ml*12캔 쿠폰팩',
       'OLB 355ml*6캔 PKG [골든크라운]', 'OLB 500ml캔 [골든크라운]',
       'OLB 500ml병 [골든크라운]', 'OLB 1.6L [골든크라운]', 'OLB 355ml*12캔 + 전용잔2',
       'OLB 355ml*12캔 + 쿨러백 (202006)', 'HGD 330ml', 'HGD 355ml*6',
       'STL 500ml*4', 'CRN 355ml', 'HGD2 250ml', 'BW1 330ml(신)',
       'BW1 740ml*3캔_Traders', 'BW1 355ml*6캔(수입)', 'STL 500ml*6캔_Traders',
       'HGD 500ml*6캔_Traders', 'STL 330ml*12캔_Multi', 'CRN 355ml*6캔',
       'G1 IPA 473ml캔', 'G1 312 473ml캔', 'BW1 237ml*8캔',
       'BW1 237ml*12캔 PKG', 'MC1 500ml캔', 'RR 355ml*6캔',
       'RR 355ml*24캔 [Traders]', 'CRN (2019)', 'HGD2 330ml*6캔',
       'RR 355*6캔 + 전용잔 기획', 'G1 473ml*8캔 [Traders]',
       'G1 IPA 473ml*4캔+전용잔', 'G1 IPA 473ml*6캔 [Traders]',
       'HGD 750ml*3캔+50cl 전용잔', 'MC1 500ml*4캔+전용잔 [2020,03]',
       'STL 500ml*6캔+스페셜 전용잔(2020 로맨틱)', 'PTG 473ml*6캔 [Traders]',
       'STL 500ml*6캔+전용잔 [2020여성의날]', 'G1IPA 473ml*4캔+기획잔 [2020/03]',
       'G1 312 473ml*4캔 + 전용잔 기획[2020.03]', 'HGD 500ml*6캔 + 레시피 노트',
       'HGD3 500ml*4캔+', 'HGD3 500ml 캔 (202006)',
       'STL *4캔+전용잔1(202006 2차)', 'G1 IPA 473ml*8캔 쿨러백',
       'HGD 495ml*4 + 전용잔 [2020.07_국산]',
       'G1 IPA 473ml*12캔 + 쿨러박스 [Traders]', 'CAT2 355ml', 'CAT1 355ml',
       'CAT2 355ml*6', 'CAT2 355ml*24', 'CAT1 355ml*6', 'CAT1 1.0L',
       'CAT1 500ml', 'CAT1 355ml*12', 'CAT2 355ml*24+쿨러백',
       'CAT2 355ml*8 절약팩', 'CAT2 640ml(신)', 'CAT2 500ml(신)',
       'CAT2 355ml*10캔(냉장패키지)', 'CAT2 250ml*10캔 냉장패키지',
       'CAT1 250ml*10*2 [Traders]', 'CAT2 250ml',
       'CAT1 48캔+신라면 멀티 [Traders]', 'CAT2 355ml*24캔+진라면',
       'CAT1 355*12캔 카카오쿨러백', 'CAT1 355ml*12캔+카카오 에코백+치',
       'CAT2 355*24캔 + 진라면 6캔', 'CAT2 1.6L*6', 'CAT2 1.6L', 'CAT1 1.6L'],
      dtype=object)

In [17]:
# 각 제품군별 카테고리 생성
def func1(row):
    if 'CAT' in row:
        return 'C Type'
    elif 'STL' in row:
        return 'S Type'
    elif 'BW' in row:
        return 'B Type'
    return 'Non Type'

df4['제품군'] = df4['상품명'].apply(func1)

In [18]:
df4

                  상품명          점포명  판매량     제품군
1287   BW1 473ml캔(수입)   (1154)의정부점  174  B Type
1288   BW1 473ml캔(수입)    (1155)별내점  239  B Type
1289   BW1 473ml캔(수입)    (1156)풍산점  432  B Type
1290   BW1 473ml캔(수입)  (1157)김포한강점  199  B Type
1291   BW1 473ml캔(수입)    (1158)세종점  220  B Type
...               ...          ...  ...     ...
75226       CAT1 1.6L     (L38)율전점   54  C Type
75227       CAT1 1.6L     (L39)본오점   28  C Type
75228       CAT1 1.6L     (L40)검암점    9  C Type
75229       CAT1 1.6L     (L44)신길점   28  C Type
75230       CAT1 1.6L     (L46)용호점   24  C Type

[73830 rows x 4 columns]

In [19]:
df4['제품군'].value_counts()

Non Type    44298
C Type      17334
B Type       6420
S Type       5778
Name: 제품군, dtype: int64

In [20]:
# Non Type은 제외
df5 = df4[df4['제품군'] != 'Non Type']

In [21]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29532 entries, 1287 to 75230
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상품명     29532 non-null  object
 1   점포명     29532 non-null  object
 2   판매량     29532 non-null  object
 3   제품군     29532 non-null  object
dtypes: object(4)
memory usage: 1.1+ MB

In [22]:
df5['판매량'] = df5['판매량'].str.replace(',', '').astype(int)

<ipython-input-22-398df1cf1b90>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['판매량'] = df5['판매량'].str.replace(',', '').astype(int)

In [23]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29532 entries, 1287 to 75230
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상품명     29532 non-null  object
 1   점포명     29532 non-null  object
 2   판매량     29532 non-null  int32
 3   제품군     29532 non-null  object
dtypes: int32(1), object(3)
memory usage: 1.0+ MB

In [24]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29532 entries, 1287 to 75230
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상품명     29532 non-null  object
 1   점포명     29532 non-null  object
 2   판매량     29532 non-null  int32
 3   제품군     29532 non-null  object
dtypes: int32(1), object(3)
memory usage: 1.0+ MB

In [25]:
df6 = pd.pivot_table(data=df5, index=['점포명', '제품군'], values='판매량', aggfunc='sum').reset_index()

In [26]:
top200 = df6.sort_values(by='판매량', ascending=False).head(200)
top200.to_csv('../result/mart_total_top200.csv', encoding='cp949')

In [27]:
c_type = df6[df6['제품군'] == 'C Type'].sort_values(by='판매량', ascending=False).head(20)
c_type.to_csv('../result/mart_c_type_top20.csv', encoding='cp949')

In [28]:
b_type = df6[df6['제품군'] == 'B Type'].sort_values(by='판매량', ascending=False).head(20)
b_type.to_csv('../result/mart_b_type_top20.csv', encoding='cp949')

In [29]:
s_type = df6[df6['제품군'] == 'S Type'].sort_values(by='판매량', ascending=False).head(20)
s_type.to_csv('../result/mart_s_type_top20.csv', encoding='cp949')

# Dash/Plotly

In [30]:
!pip install --user plotly

Requirement already satisfied: plotly in c:\users\jinyoung\appdata\roaming\python\python39\site-packages (4.14.3)
Requirement already satisfied: retrying>=1.3.3 in c:\users\jinyoung\appdata\roaming\python\python39\site-packages (from plotly) (1.3.3)WARNING: You are using pip version 21.1.1; however, version 21.1.3 is available.
You should consider upgrading via the 'c:\python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: six in c:\python39\lib\site-packages (from plotly) (1.15.0)

In [31]:
!pip install --user dash

Requirement already satisfied: dash in c:\users\jinyoung\appdata\roaming\python\python39\site-packages (1.21.0)
Requirement already satisfied: Flask>=1.0.4 in c:\users\jinyoung\appdata\roaming\python\python39\site-packages (from dash) (2.0.1)
Requirement already satisfied: flask-compress in c:\users\jinyoung\appdata\roaming\python\python39\site-packages (from dash) (1.10.1)
Requirement already satisfied: plotly in c:\users\jinyoung\appdata\roaming\python\python39\site-packages (from dash) (4.14.3)
Requirement already satisfied: dash-core-components==1.17.1 in c:\users\jinyoung\appdata\roaming\python\python39\site-packages (from dash) (1.17.1)
Requirement already satisfied: dash-html-components==1.1.4 in c:\users\jinyoung\appdata\roaming\python\python39\site-packages (from dash) (1.1.4)
Requirement already satisfied: dash-table==4.12.0 in c:\users\jinyoung\appdata\roaming\python\python39\site-packages (from dash) (4.12.0)
Requirement already satisfied: future in c:\users\jinyoung\appdata\roaming\python\python39\site-packages (from dash) (0.18.2)
Requirement already satisfied: Jinja2>=3.0 in c:\users\jinyoung\appdata\roaming\python\python39\site-packages (from Flask>=1.0.4->dash) (3.0.1)
Requirement already satisfied: click>=7.1.2 in c:\users\jinyoung\appdata\roaming\python\python39\site-packages (from Flask>=1.0.4->dash) (7.1.2)
Requirement already satisfied: itsdangerous>=2.0 in c:\users\jinyoung\appdata\roaming\python\python39\site-packages (from Flask>=1.0.4->dash) (2.0.1)
Requirement already satisfied: Werkzeug>=2.0 in c:\users\jinyoung\appdata\roaming\python\python39\site-packages (from Flask>=1.0.4->dash) (2.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\jinyoung\appdata\roaming\python\python39\site-packages (from Jinja2>=3.0->Flask>=1.0.4->dash) (2.0.1)
Requirement already satisfied: brotli in c:\users\jinyoung\appdata\roaming\python\python39\site-packages (from flask-compress->dash) (1.0.9)
Requirement already satisfied: retrying>=1.3.3 in c:\users\jinyoung\appdata\roaming\python\python39\site-packages (from plotly->dash) (1.3.3)
Requirement already satisfied: six in c:\python39\lib\site-packages (from plotly->dash) (1.15.0)
WARNING: You are using pip version 21.1.1; however, version 21.1.3 is available.
You should consider upgrading via the 'c:\python39\python.exe -m pip install --upgrade pip' command.

In [32]:
import plotly.express as px

In [33]:
mart_total_top200 = pd.read_csv('../result/mart_total_top200.csv', encoding='cp949')

In [34]:
fig = px.bar(mart_total_top200, x='점포명', y='판매량', color='제품군')
fig.show()