[과제](https://quilled-repair-dc6.notion.site/Product-Data-Analyst-382522b18eab48dc86d1b5fd4c45717e)


- 유저의 리그 오브 레전드 티어별로 2주동안의 유저 리텐션을 구하고 티어 사이의 유저 리텐션에 유의미한 차이가 있는지를 설명해주세요.
    - 티어 별 그룹사이의 차이가 있음 (혹은 없음)을 설명 할 수 있는 근거를 함께 제시해주세요.
    - 제공된 데이터를 모두 사용하실 필요는 없습니다. 필요에 따라 일부 데이터만 추출해서 사용하시면 됩니다.
    - 리텐션을 구하는데 사용한 코드를 분석결과에 함께 제출해주세요.

In [1]:
import pandas as pd 
import seaborn as sns # a charting package
import matplotlib.pyplot as plt # the original Python chating package

#a `magic code` that allows ploting of charts within the notebook
%matplotlib inline
from sqlalchemy import create_engine
conn_string = 'postgresql://postgres:admin1234@localhost:5432/postgres'
postgres_engine = create_engine(conn_string)

In [ ]:
query = """
    SELECT distinct user_tier
    FROM opgg_web_traffic_sample_csv
"""

df = pd.read_sql_query(sql=query, con=postgres_engine)

In [ ]:
df['user_tier'].tolist()

### Tier 목록 

- MASTER, IRON, UNRANKED, BRONZE, GOLD, DIAMOND, PLATINUM, SILVER, GRANDMASTER, CHALLENGER

In [2]:
query = """
    SELECT  -- date_trunc('day', event_time) as event_day
            distinct
            date_trunc('day', split_part(event_time, 'T', 1)::date)::date as event_day
            , user_id
            , user_tier
    FROM opgg_web_traffic_sample_csv
    WHERE user_tier = 'SILVER'
"""

silver = pd.read_sql_query(sql=query, con=postgres_engine)
silver.head()

    event_day                 user_id user_tier
0  2021-12-06  223HkiJkKPU4ns8xYws2Mo    SILVER
1  2021-12-06  22673HS2Y24X96m84cqmT2    SILVER
2  2021-12-06  22AG925SqPk4APjWfs7E2v    SILVER
3  2021-12-06  22AX4rHjPDwEietZ2Danyh    SILVER
4  2021-12-06  22BAnFXoU9EhSYtjp6MsFf    SILVER

In [3]:
#When passed a datetime column this functions splits out year, month, day

def get_date(df, column):
    year = df[column].dt.year
    month = df[column].dt.month
    day = df[column].dt.day
    return year, month, day

In [4]:
def make_retention_data(df:pd.DataFrame):
    """
    데이터 프레임을 받아 리텐션 데이터로 변환합니다.
    """
    df['CohortDay'] = df.groupby('user_id')['event_day'].transform('min')
    df['event_day'] = pd.to_datetime(df['event_day'])
    df['CohortDay'] = pd.to_datetime(df['CohortDay'])
    opgg_year, opgg_month, opgg_day = get_date(df, 'event_day') 
    cohort_year, cohort_month, cohort_day = get_date(df, 'CohortDay')
    year_diff = opgg_year - cohort_year 
    month_diff = opgg_month - cohort_month 
    day_diff = opgg_day - cohort_day
    df['CohortIndex'] = month_diff * 30 + day_diff + 1
    #Group the data by columns CohortMonth','CohortIndex' then aggreate by column 'CustomerID'
    df_cohort_data = df.groupby(
    ['CohortDay', 'CohortIndex'])['user_id'].apply(pd.Series.nunique).reset_index()
    df_cohort_count = df_cohort_data.pivot_table(index = 'CohortDay',
                                       columns = 'CohortIndex',
                                       values = 'user_id')
    df_cohort_size = df_cohort_count.iloc[:,0] #select all the rows : select the first column
    df_retention = df_cohort_count.divide(df_cohort_size, axis=0) #Divide the cohort by the first column
    df_retention = df_retention.round(3) # round the retention to 3 places
    return df_retention

In [7]:
query = """
    SELECT  -- date_trunc('day', event_time) as event_day
            distinct
            date_trunc('day', split_part(event_time, 'T', 1)::date)::date as event_day
            , user_id
            , user_tier
    FROM opgg_web_traffic_sample_csv
    WHERE user_tier = 'GOLD'
"""

gold = pd.read_sql_query(sql=query, con=postgres_engine)
gold.head()

    event_day                 user_id user_tier
0  2021-12-06  222WHz3cNr7vRg25qhWNmG      GOLD
1  2021-12-06  223SbJzKrHrV9fkiLKSF5Y      GOLD
2  2021-12-06  223isaSByZzFbnuvSbyCTv      GOLD
3  2021-12-06  22527ZERaLqXgFUTdUqtyR      GOLD
4  2021-12-06  225gk9pJD8PjmL8yBw88RR      GOLD

In [10]:
query = """
    SELECT  -- date_trunc('day', event_time) as event_day
            distinct
            date_trunc('day', split_part(event_time, 'T', 1)::date)::date as event_day
            , user_id
            , user_tier
    FROM opgg_web_traffic_sample_csv
    WHERE user_tier = 'PLATINUM'
"""

platinum = pd.read_sql_query(sql=query, con=postgres_engine)
platinum.head()

    event_day                 user_id user_tier
0  2021-12-06  225BJ7tYNSAHQGMGhio9pn  PLATINUM
1  2021-12-06  225PDj3SdnCfcJZs93quCq  PLATINUM
2  2021-12-06  226gDiTnTwXDgsmDtp8fYR  PLATINUM
3  2021-12-06  227pahxfAU2F7EWgE4p3Bi  PLATINUM
4  2021-12-06  228ksp7XU8fsj959WVAYq9  PLATINUM

In [52]:
# - MASTER, IRON, UNRANKED, BRONZE, GOLD, DIAMOND, PLATINUM, SILVER, GRANDMASTER, CHALLENGER
query = """
    SELECT  -- date_trunc('day', event_time) as event_day
            distinct
            date_trunc('day', split_part(event_time, 'T', 1)::date)::date as event_day
            , user_id
            , user_tier
    FROM opgg_web_traffic_sample_csv
    WHERE user_tier = 'MASTER'
"""

master = pd.read_sql_query(sql=query, con=postgres_engine)
master.head()

    event_day                 user_id user_tier
0  2021-12-06  2ChJaFwdahrKTfYQRxc3M5    MASTER
1  2021-12-06  2DdbYkFLUDyerw3Cpzuuxe    MASTER
2  2021-12-06  2DnnAuNLMG6Bjb8j75Tr7z    MASTER
3  2021-12-06  2EWM2r6ytZxbDLNzYRpJix    MASTER
4  2021-12-06  2G5CRiGDBAAnWujYEYcRiZ    MASTER

In [53]:
# - MASTER, IRON, UNRANKED, BRONZE, GOLD, DIAMOND, PLATINUM, SILVER, GRANDMASTER, CHALLENGER
query = """
    SELECT  -- date_trunc('day', event_time) as event_day
            distinct
            date_trunc('day', split_part(event_time, 'T', 1)::date)::date as event_day
            , user_id
            , user_tier
    FROM opgg_web_traffic_sample_csv
    WHERE user_tier = 'IRON'
"""

iron = pd.read_sql_query(sql=query, con=postgres_engine)
iron.head()

    event_day                 user_id user_tier
0  2021-12-06  22mTsS4zAa39cFYTexnSdA      IRON
1  2021-12-06  23BSMYtRns8ZKMwmookwWx      IRON
2  2021-12-06  263fNqATnxA2qmRksn2rz7      IRON
3  2021-12-06  263mncK6NQkUbUTAarFjXq      IRON
4  2021-12-06  26DeWYv3FQuWp5kwEiLifh      IRON

In [54]:
# - MASTER, IRON, UNRANKED, BRONZE, GOLD, DIAMOND, PLATINUM, SILVER, GRANDMASTER, CHALLENGER
query = """
    SELECT  -- date_trunc('day', event_time) as event_day
            distinct
            date_trunc('day', split_part(event_time, 'T', 1)::date)::date as event_day
            , user_id
            , user_tier
    FROM opgg_web_traffic_sample_csv
    WHERE user_tier = 'UNRANKED'
"""

unranked = pd.read_sql_query(sql=query, con=postgres_engine)
unranked.head()

    event_day                 user_id user_tier
0  2021-12-06  222UNuSGE8Md4hxymV3TAH  UNRANKED
1  2021-12-06  225QzaEreNHn9ndAjPr973  UNRANKED
2  2021-12-06  22ASxu38evrrXD6otYJpt4  UNRANKED
3  2021-12-06  22FQSUKy3iAAqNKJPFELHJ  UNRANKED
4  2021-12-06  22G4PMnqht9DRBuZDdDyuo  UNRANKED

In [55]:
# - MASTER, IRON, UNRANKED, BRONZE, GOLD, DIAMOND, PLATINUM, SILVER, GRANDMASTER, CHALLENGER
query = """
    SELECT  -- date_trunc('day', event_time) as event_day
            distinct
            date_trunc('day', split_part(event_time, 'T', 1)::date)::date as event_day
            , user_id
            , user_tier
    FROM opgg_web_traffic_sample_csv
    WHERE user_tier = 'BRONZE'
"""

bronze = pd.read_sql_query(sql=query, con=postgres_engine)
bronze.head()

    event_day                 user_id user_tier
0  2021-12-06  2259DtwQEve7YcvTKk5Ay4    BRONZE
1  2021-12-06  22H6XCCLP9DFePnbc6n47c    BRONZE
2  2021-12-06  22K4T6wcRWnzS2hrmDFoxr    BRONZE
3  2021-12-06  22LKjqZSDB78zrqEnDfbrt    BRONZE
4  2021-12-06  22RZxRL5dyttqkxSobkEHF    BRONZE

In [56]:
# - MASTER, IRON, UNRANKED, BRONZE, GOLD, DIAMOND, PLATINUM, SILVER, GRANDMASTER, CHALLENGER
query = """
    SELECT  -- date_trunc('day', event_time) as event_day
            distinct
            date_trunc('day', split_part(event_time, 'T', 1)::date)::date as event_day
            , user_id
            , user_tier
    FROM opgg_web_traffic_sample_csv
    WHERE user_tier = 'DIAMOND'
"""

diamond = pd.read_sql_query(sql=query, con=postgres_engine)
diamond.head()

    event_day                 user_id user_tier
0  2021-12-06  22MSZpgbkg5ripchNXL76g   DIAMOND
1  2021-12-06  22XVBLRLXM6FSNyTRnMM8y   DIAMOND
2  2021-12-06  22ZpKoLbM3s6Z2XfCENzQk   DIAMOND
3  2021-12-06  22xF6mycfRPLABmQ8uCgMD   DIAMOND
4  2021-12-06  22yjYnfFdneKrp9Vg5pXe9   DIAMOND

In [57]:
# - MASTER, IRON, UNRANKED, BRONZE, GOLD, DIAMOND, PLATINUM, SILVER, GRANDMASTER, CHALLENGER
query = """
    SELECT  -- date_trunc('day', event_time) as event_day
            distinct
            date_trunc('day', split_part(event_time, 'T', 1)::date)::date as event_day
            , user_id
            , user_tier
    FROM opgg_web_traffic_sample_csv
    WHERE user_tier = 'GRANDMASTER'
"""

grandmaster = pd.read_sql_query(sql=query, con=postgres_engine)
grandmaster.head()

    event_day                 user_id    user_tier
0  2021-12-06  24g3ihEqHZGKxv6JCcyYYv  GRANDMASTER
1  2021-12-06  27XMxmb4L6AyqnxaWmDkWw  GRANDMASTER
2  2021-12-06  27qvp62D4jiFeFG32bYBjz  GRANDMASTER
3  2021-12-06  2Bf4z3N7Qos28h8Kjj7ATb  GRANDMASTER
4  2021-12-06  2aHbDPQPjeFbjgWm8AeoMH  GRANDMASTER

In [58]:
# - MASTER, IRON, UNRANKED, BRONZE, GOLD, DIAMOND, PLATINUM, SILVER, GRANDMASTER, CHALLENGER
query = """
    SELECT  -- date_trunc('day', event_time) as event_day
            distinct
            date_trunc('day', split_part(event_time, 'T', 1)::date)::date as event_day
            , user_id
            , user_tier
    FROM opgg_web_traffic_sample_csv
    WHERE user_tier = 'CHALLENGER'
"""

challenger = pd.read_sql_query(sql=query, con=postgres_engine)
challenger.head()

    event_day                 user_id   user_tier
0  2021-12-06  2f57dgsJP56EB6zNtoa6MV  CHALLENGER
1  2021-12-06  2qKcSGHyYnCCriLbwPFsWH  CHALLENGER
2  2021-12-06  3Zcr854DzKDwU6vZcWUPjv  CHALLENGER
3  2021-12-06  3e3jirXioego4iMGXTngXP  CHALLENGER
4  2021-12-06  3eJtEe2C633MhXQZ9xVc6u  CHALLENGER

In [59]:
silver_retention = make_retention_data(silver)
gold_retention = make_retention_data(gold)
platinum_retention = make_retention_data(platinum)
master_retention = make_retention_data(master)
iron_retention = make_retention_data(iron)
unranked_retention = make_retention_data(unranked)
bronze_retention = make_retention_data(bronze)
diamond_retention = make_retention_data(diamond)
grandmaster_retention = make_retention_data(grandmaster)
challenger_retention = make_retention_data(challenger)

In [60]:
silver_list = silver_retention.iloc[:1].reset_index().values.tolist()[0][2:]
gold_list = gold_retention.iloc[:1].reset_index().values.tolist()[0][2:]
platinum_list = platinum_retention.iloc[:1].reset_index().values.tolist()[0][2:]
master_list = master_retention.iloc[:1].reset_index().values.tolist()[0][2:]
iron_list = iron_retention.iloc[:1].reset_index().values.tolist()[0][2:]
unranked_list = unranked_retention.iloc[:1].reset_index().values.tolist()[0][2:]
bronze_list = bronze_retention.iloc[:1].reset_index().values.tolist()[0][2:]
diamond_list = diamond_retention.iloc[:1].reset_index().values.tolist()[0][2:]
grandmaster_list = grandmaster_retention.iloc[:1].reset_index().values.tolist()[0][2:]
challenger_list = challenger_retention.iloc[:1].reset_index().values.tolist()[0][2:]

In [62]:
import scipy.stats as stats

F_statistic, pVal = stats.f_oneway(silver_list, gold_list, platinum_list, master_list, iron_list, unranked_list, bronze_list, diamond_list, grandmaster_list, challenger_list)

print('데이터의 일원분산분석 결과 : F={0:.1f}, p={1:.5f}'.format(F_statistic, pVal))
if pVal < 0.05:
    print('P-value 값이 충분히 작음으로 인해 그룹의 평균값이 통계적으로 유의미하게 차이납니다.')

데이터의 일원분산분석 결과 : F=22.2, p=0.00000
P-value 값이 충분히 작음으로 인해 그룹의 평균값이 통계적으로 유의미하게 차이납니다.

## 결론 : 분산분석 결과 티어별 그룹사이에 유저 리텐션에 차이가 있음

단, 어느집단간의 차이인지 알고 싶을 경우 [사후분석](https://bioinformaticsandme.tistory.com/198)을 통해 확인해야함.

- [참고링크](https://partrita.github.io/posts/ANOVA-python/)
- [참고영상 - 분산분석(ANOVA)의 직관적 이해](https://www.youtube.com/watch?v=5WbKQWeacE8&ab_channel=%EC%8A%AC%EA%B8%B0%EB%A1%9C%EC%9A%B4%ED%86%B5%EA%B3%84%EC%83%9D%ED%99%9C)